<footer class="footer pt-0">
  <div class="row align-items-center justify-content-lg-between">
    <div class="col-lg-6">
      <div class="copyright text-center  text-lg-left  text-muted">
        &copy; <%= I18n.t("layouts.footer.version")%>
        <%= I18n.t("layouts.footer.strong")%>
      </div>
    </div>
    <div class="col-lg-6">
      <ul class="nav nav-footer justify-content-center justify-content-lg-end">
        <li class="nav-item">
          <%= I18n.t("layouts.footer.reserved")%>
        </li>
        <li class="nav-item">
          <%= I18n.t("layouts.footer.des")%>
        </li>
      </ul>
    </div>
  </div>
</footer>
