<tr>
  <th scope="row">
    <div class="media align-items-center">
      <div class="media-body">
        <span class="name mb-0 text-sm"><%= subject.name %></span>
      </div>
    </div>
  </th>
  <td class="budget">
    <%= subject.duration %>
  </td>
  <td class="budget">
    <%= status_subject(subject, @course) %>
  </td>
</tr>
