<tr>
  <th scope="row">
    <div class="media align-items-center">
      <div class="media-body">
        <span class="name mb-0 text-sm"><%= trainee.name %></span>
      </div>
    </div>
  </th>
  <td class="budget">
    <%= trainee.email %>
  </td>
</tr>
