<tr>
  <th scope="row">
    <div class="media align-items-center">
      <div class="media-body">
        <span class="name mb-0 text-sm"><%= trainee.name %></span>
      </div>
    </div>
  </th>
  <td class="budget">
    <%= trainee.email %>
  </td>
  <td class="budget">
    <%= link_to t("views.course.show.progress"), trainer_course_trainee_path(trainee.id, course_id: @course.id),  class: "btn btn-info" %>
  </td>
</tr>
