.digg_pagination {
  text-align: -webkit-right;
}
.btn-courses{
  padding-top: 20px;
}

.assign-table-tranee {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.assign-trainee {
  width: 48%
}

.colspan_table{
  width: 12%;
  text-align: center;
}

.option_button{
  display: flex;
}

.alert {
  z-index: 1;
}

.logo{
  width: 90px;
}

.titel_show_course{
  display: flex;
  justify-content: space-between;
  padding: 20px 10px 0px 10px;
}

.item_title{
  font-size: 20px;
    font-weight: bold;
}

.layout_search{
  display: flex;
}

.btn_logout{
  color: aliceblue;
}
